@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@theme inline {
  --color-app-primary-navyblue: #040414;
  --color-app-primary-navyBlack: #03030c;
  --color-app-secundary-white: #edeeef;
  --color-app-details-cyan: #14cddd;
  --color-app-alternative-darkBlue: #64c8ff14;
  --color-app-background: #12171a;
  --color-app-alternative-darkCyan2: #097b8c;
  --color-app-glass-transparent: #ffffff59;

  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
